.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.item header .img-item {
  width: 312px;
  height: 360px;
  margin-bottom: 24px;
}

.item header .img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.item header .img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}
.item header h4 {
  margin-bottom: 24px;
}

.item p {
  margin-bottom: 24px;
}
.item footer .button {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .item header .img-item {
    width: 648px;
    height: 452px;
  }
  .item header .img-item.tokyo {
    background: url(../img/Tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .item header .img-item.osaka {
    background: url(../img/Osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }
  .item footer .button {
    width: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .item header .img-item {
    width: 100%;
    height: 452px;
  } 
}
@media screen and (min-width: 1440px) {
  .destination-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .item header .img-item {
    width: 588px;
    height: 452px;
  } 
}
