.main-footer {
  background-color: var(--background-tertiary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 34px;
  box-sizing: border-box;
}

.main-footer .footer-content {
  text-align: center;
}

.main-footer .footer-content img {
  margin-bottom: 16px;
  width: 162px;
  height: 40px;
}
.main-footer p {
  color: var(--text-secundary-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-weight);
  margin-bottom: 8px;
}
.main-footer .footer-social {
  text-align: center;
}
.main-footer .footer-social a {
  text-decoration: none;
}
.main-footer .footer-social a img {
  width: 32px;
}

@media screen and (min-width: 768px) {
  .main-footer {
    padding: 32px 60px;
  }

  .main-footer p {
    font-size: 20px;
    line-height: 32px;
  }

  .main-footer .footer-social {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .main-footer {
    flex-direction: row;
    padding: 52px 120px;
    justify-content: space-between;
  }

  .main-footer .footer-content {
    text-align: left;
  }

  .main-footer .footer-social {
    width: 165px;
  }

  .main-footer .footer-social p {
    font-size: 16px;
  }
}
