.hero,
.bottom-hero {
  width: 100%;
  margin: 0;
}

.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../img/bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 48px;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero .hero-img,
  .bottom-hero .hero-img {
    height: 620px;
    width: 100%;
  }
  .hero .hero-img {
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    background: url(../img/bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    background: url(../img/bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
