.card {
  color: var(--text-secundary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
  padding: 24px 16px;
  box-sizing: border-box;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}
.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}
.card header h3{
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}
.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

