.payments .text-content {
  margin-bottom: 24px;
}

.content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "bag passport"
    "peoples peoples";
  gap: 24px;
  width: 100%;
  height: 460px;
  margin: 0 auto;
}

.payments .content-container .image-gallery .image.bag {
  grid-area: bag;
  background: url(../img/bag-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.passport {
  grid-area: passport;
  background: url(../img/passport-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.peoples {
  grid-area: peoples;
  background: url(../img/peoples-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {

  .payments .content-container .image-gallery .image.bag {
    background: url(../img/bag-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.passport {
    background: url(../img/passport-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.peoples {
    background: url(../img/peoples-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    height: 460px;
  }

  .payments .content-container .image-gallery .image.bag {
    background: url(../img/bag-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.passport {
    background: url(../img/passport-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.peoples {
    background: url(../img/peoples-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
